

<link rel="stylesheet" href="/css/Main.css">


<div class="container mt-8">
    <div class="row text-center">

        <!-- New Customers -->
        <div class="col-lg-4 mb-4">
            <a href="@Url.Action("Create", "Client")">
            <img src="~/images/clientes.png" class="img-fluid mb-2" alt="New Client">
            <h4>New Customers</h4>
            </a>
        </div>

        <!-- New Salesman -->
        <div class="col-lg-4 mb-4">
            <a href="@Url.Action("Create", "Salesman")">
                <img src="~/images/vendedores.png" class="img-fluid mb-2" alt="New Salesman">
                <h4>New Salesman</h4>
            </a>
        </div>


        <!-- New Product -->
        <div class="col-lg-4 mb-4">
            <a href="@Url.Action("Create", "Product")">
            <img src="~/images/produtos.png" class="img-fluid mb-2" alt="New Product">
            <h4>New Product</h4>
            </a>
        </div>

        <!-- Sales Record -->
        <div class="col-lg-4 mb-4">
            <a href="@Url.Action("Create", "Sales")">
            <img src="~/images/vendas.png" class="img-fluid mb-2" alt="Sales Record">
            <h4>Sales Record</h4>
            </a>
        </div>

        <!-- Reports -->
        <div class="col-lg-4 mb-4">
            <img src="~/images/relatorios.png" class="img-fluid mb-2" alt="Reports">
            <h4>Reports</h4>
        </div>

        <!-- Settings -->
        <div class="col-lg-4 mb-4">
            <img src="~/images/configuracoes.png" class="img-fluid mb-2" alt="Settings">
            <h4>Settings</h4>
        </div>
    </div>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>
