.container {
    max-width: 960px;
}

.row {
    text-align: center;
}

.col-lg-4 {
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

    .col-lg-4:hover {
        transform: scale(1.05);
    }

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h4 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

/* Adiciona algum espaçamento entre as colunas em tamanhos menores de tela */
@media (max-width: 767px) {
    .col-lg-4 {
        margin-bottom: 20px;
    }
}
